.wrapper {
  margin: 4rem 0rem;
}

.wrapper h2 {
  border-bottom: 4px solid #0e5dc4;
  width: fit-content;
  margin: 0rem;
}

.wrapper .blog {
  border: 3px solid #919191;
  margin-bottom: 2rem;
}

.wrapper .blog a {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.wrapper .blog a .left {
  padding: 2rem 1rem;
  background: #f4f4f4;
  width: 30%;
}

.wrapper .blog a .left h3 {
  padding: 0;
  margin: 0rem 0rem 1.6rem 0rem;
}

.wrapper .blog a .left .readTime,
.wrapper .blog a .left .date {
  border-radius: 10px;
  padding: 0.3rem 0.5rem;
  color: #f4f4f4;
  font-size: 0.8rem;
}

.wrapper .blog a .left .readTime {
  background: #cc4c19;
  margin-right: 0.2rem;
}

.wrapper .blog a .left .date {
  background: #0e5dc4;
  margin-left: 0.2rem;
}

.wrapper .blog a .right {
  padding: 0rem 1rem;
  width: 70%;
}

.wrapper .blog a .right p {
  line-height: 1.5;
  letter-spacing: 1px;
}

@media (max-width: 810px) {
  .wrapper .blog a {
    display: flex;
    flex-direction: column;
  }

  .wrapper .blog a .left {
    padding: 2rem;
    width: 100%;
  }

  .wrapper .blog a .right {
    padding: 2rem;
    width: 100%;
  }
}
